site_name: Cuddly Funicular Docs

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            separate_signature: true
            merge_init_into_class: true
            allow_inspection: false
          paths:
            - src

nav:
  - Start: index.md
  - Example: example.md

