site_name: Cuddly Funicular
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: ["source_code/src"]

nav:
  - Start: index.md
  - example: example.md

